.contact {
  margin-right: 15%;
  padding: 250px;
  position: relative;
}

.contact > h1 {
  color: var(--sky-blue);
  margin-left: 40%;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
}

.contact > h1::before {
  content: "04. ";
  color: var(--coral);
  font-size: 36px;
}

.contact > div {
  display: block;
  max-width: 500px;
  margin: 80px 0px 0px 40%;
}

.short-description, .salutation {
  font-size: 18px;
}

.inner-paragraph-contain p, .achivPanel p {
  font-size: 20px;
}

.resume-button { /*resume button*/
  position: relative;
  margin-top: 1%;
  padding: 1.25rem 0rem;
  border: 1px solid var(--coral);
  font-size: var(--fz-sm);
  width: 20%;
  text-align: center;
  transition: 0.4s;
}

.resume-button:hover {
  cursor: pointer;
  background-color: rgb(100, 255, 218, 0.3);
}

.icons {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-top: 200px;
  max-height: 800px;
}

.icon-1, .icon-2 {
  position: relative;
}

.icon-2 > svg {
  margin-bottom: 50px;
}

.icon-1 > h2, .icon-2 > h2 {
  position: absolute;
  color: white;
  display: inline-block;
  font-size: 25px;
  top: 100%;
  right: 45%;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

.icon-2 > h2 ~ p, .icon-1> h2 ~ p {
  position: absolute;
  color: white;
  top: 110%;
}

.icon-1 > h2 ~ p {
  left: 100px;
}