body {
  background-color: darkslategray;
}

#left-icon {
  background-color: bisque;
  width: 250px;
  height: 35px;
  border-radius: 10px;
}

#contactbutton {
  cursor: pointer;
  margin-top: 50px;
  background-color: transparent;
  border: 1px solid salmon;
  font-family: monospace;
  text-decoration: none;
  font-size: medium;

}