body {
  background-color: darkslategray;
}

#left-icon {
  background-color: bisque;
  width: 500px;
  height: 65px;
  margin-left: 20px;
  border-radius: 10px;
  text-align: center;
}

#contactbutton {
  cursor: pointer;
  margin-top: 50px;
  background-color: transparent;
  border: 1px solid salmon;
  font-family: monospace;
  text-decoration: none;
  font-size: medium;

}